In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [ ]:
from codecs import open
from __future__ import division
def read_documents(doc_file):
    docs = []
    labels = []
    with open(doc_file, encoding='utf-8') as f:
        for line in f:
            words = line.strip().split()
            docs.append(words[3:])
            labels.append(words[1])
    return docs, labels

In [ ]:
all_docs, all_labels = read_documents('all_sentiment_shuffled_2.txt')

In [ ]:
split_point = int(0.80*len(all_docs))
train_docs = all_docs[:split_point]
train_labels = all_labels[:split_point]  
eval_docs = all_docs[split_point:]
eval_labels = all_labels[split_point:]

In [ ]:
len(eval_docs)

2383

In [ ]:
train_labels[0]

'neg'

In [ ]:
train_docs[1]

['i',
 'was',
 'misled',
 'and',
 'thought',
 'i',
 'was',
 'buying',
 'the',
 'entire',
 'cd',
 'and',
 'it',
 'contains',
 'one',
 'song']

In [ ]:

#sentence=""
#for i in train_docs[1]:
  #sentence= sentence + i + " "

In [ ]:
#sentence

In [ ]:
new_train_doc=[]

In [ ]:
for i in range (0,9531):
  word_list=train_docs[i]
  sentence=""
  for j in word_list:
    sentence = sentence + j + " "
  new_train_doc.append(sentence)

In [ ]:
len(new_train_doc)

9531

In [ ]:
#new_train_set=["I ate an apple","I had fun today"]
#new_train_set.append(sentence)

In [ ]:
#new_train_set

['I ate an apple', 'I had fun today']

In [ ]:
df_new_train=pd.DataFrame(new_train_doc,columns=["Text"])

In [ ]:
new_train_labels=[]

In [ ]:
for i in range (0,9531):
  new_train_labels.append(train_labels[i])

In [ ]:
df_new_train["Sentiment"]=new_train_labels

In [ ]:
df_new_train.head()

                                                Text Sentiment
0  i bought this album because i loved the title ...       neg
1  i was misled and thought i was buying the enti...       neg
2  i have introduced many of my ell , high school...       neg
3  anything you purchase in the left behind serie...       pos
4  i loved these movies , and i cant wiat for the...       pos

In [ ]:
from sklearn.naive_bayes import BernoulliNB

In [ ]:
from sklearn.pipeline import make_pipeline

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
model=make_pipeline(TfidfVectorizer(),BernoulliNB())

In [ ]:
model.fit(df_new_train["Text"], df_new_train["Sentiment"])

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('bernoullinb', BernoulliNB())])

In [ ]:
new_test_doc=[]

In [ ]:
split_point_test = int(0.2*len(all_docs))

In [ ]:
split_point_test

2382

In [ ]:
for i in range (0,2383):
  word_list=eval_docs[i]
  sentence=""
  for j in word_list:
    sentence = sentence + j + " "
  new_test_doc.append(sentence)

In [ ]:
new_test_labels=[]

In [ ]:
for i in range (0,2383):
  new_test_labels.append(eval_labels[i])

In [ ]:
df_new_test=pd.DataFrame(new_test_doc,columns=["Text"])

In [ ]:
df_new_test["Sentiment"]=new_test_labels

In [ ]:
df_new_test.head()

                                                Text Sentiment
0  do not buy this iron . it 's fabulous while it...       neg
1  the series just keeps on getting better . the ...       pos
2  i bought this apple humidifier in early novemb...       neg
3  i highly recommend this super wide angle lens ...       pos
4  this is one of the better historical dramas fr...       pos

In [ ]:
predicted_labels = model.predict(df_new_test["Text"])

In [ ]:
predicted_labels

array(['neg', 'pos', 'neg', ..., 'pos', 'pos', 'neg'], dtype='<U3')

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(df_new_test["Sentiment"],predicted_labels)

array([[914, 316],
       [163, 990]])

In [ ]:

from sklearn.metrics import accuracy_score
print(accuracy_score(eval_labels,predicted_labels))

0.7989928661351238

--------- IF I TAKE CATEGORY -------------------

In [ ]:
from codecs import open
from __future__ import division
def read_documents(doc_file):
    docs = []
    categories = []
    with open(doc_file, encoding='utf-8') as f:
        for line in f:
            words = line.strip().split()
            docs.append(words[3:])
            categories.append(words[0])
    return docs, categories

In [ ]:
all_docs, all_labels = read_documents('all_sentiment_shuffled_2.txt')

In [ ]:
split_point = int(0.80*len(all_docs))
train_docs_c = all_docs[:split_point]
train_cat = all_labels[:split_point]  
eval_docs = all_docs[split_point:]
eval_cat = all_labels[split_point:]

In [ ]:
train_cat[0]

'music'

In [ ]:
new_train_cat=[]

In [ ]:
for i in range (0,9531):
  new_train_cat.append(train_cat[i])

In [ ]:
df_new_train_cat=pd.DataFrame(new_train_doc,columns=["Text"])

In [ ]:
df_new_train_cat["Sentiment"]=new_train_cat

In [ ]:
df_new_train_cat.head()

                                                Text Sentiment
0  i bought this album because i loved the title ...     music
1  i was misled and thought i was buying the enti...     music
2  i have introduced many of my ell , high school...     books
3  anything you purchase in the left behind serie...     books
4  i loved these movies , and i cant wiat for the...       dvd

In [ ]:
df_new_test_cat=pd.DataFrame(new_test_doc,columns=["Text"])

In [ ]:
new_test_cat=[]
for i in range (0,2383):
  new_test_cat.append(train_cat[i])

In [ ]:
df_new_test_cat["Category"]=new_test_cat

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model=make_pipeline(TfidfVectorizer(),MultinomialNB())

In [ ]:
model.fit(df_new_train_cat["Text"],df_new_train_cat["Sentiment"])

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [ ]:
predicted_categories = model.predict(df_new_test_cat["Text"])

In [ ]:
confusion_matrix(df_new_test_cat["Category"],predicted_categories)

array([[51, 79, 56, 55, 84, 65],
       [63, 70, 80, 57, 72, 68],
       [71, 77, 79, 62, 55, 56],
       [76, 81, 56, 48, 70, 73],
       [53, 84, 68, 70, 70, 66],
       [60, 83, 59, 54, 63, 49]])

In [ ]:
accuracy_score(df_new_test_cat["Category"],predicted_categories)

0.15400755350398657