In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [2]:
from codecs import open
from __future__ import division
def read_documents(doc_file):
    docs = []
    labels = []
    with open(doc_file, encoding='utf-8') as f:
        for line in f:
            words = line.strip().split()
            docs.append(words[3:])
            labels.append(words[1])
    return docs, labels

In [3]:
all_docs, all_labels = read_documents('all_sentiment_shuffled_2.txt')

In [4]:
split_point = int(0.80*len(all_docs))
train_docs = all_docs[:split_point]
train_labels = all_labels[:split_point]  
eval_docs = all_docs[split_point:]
eval_labels = all_labels[split_point:]

In [5]:
train_docs[1]

['i',
 'was',
 'misled',
 'and',
 'thought',
 'i',
 'was',
 'buying',
 'the',
 'entire',
 'cd',
 'and',
 'it',
 'contains',
 'one',
 'song']

In [6]:

#sentence=""
#for i in train_docs[1]:
  #sentence= sentence + i + " "

In [7]:
#sentence

In [8]:
new_train_doc=[]

In [9]:
for i in range (0,9531):
  word_list=train_docs[i]
  sentence=""
  for j in word_list:
    sentence = sentence + j + " "
  new_train_doc.append(sentence)

In [10]:
len(new_train_doc)

9531

In [ ]:
#new_train_set=["I ate an apple","I had fun today"]
#new_train_set.append(sentence)

In [ ]:
#new_train_set

['I ate an apple', 'I had fun today']

In [11]:
df_new_train=pd.DataFrame(new_train_doc,columns=["Text"])

In [12]:
new_train_labels=[]

In [13]:
for i in range (0,9531):
  new_train_labels.append(train_labels[i])

In [14]:
df_new_train["Sentiment"]=new_train_labels

In [15]:
df_new_train.head()

                                                Text Sentiment
0  i bought this album because i loved the title ...       neg
1  i was misled and thought i was buying the enti...       neg
2  i have introduced many of my ell , high school...       neg
3  anything you purchase in the left behind serie...       pos
4  i loved these movies , and i cant wiat for the...       pos

In [16]:
from sklearn.naive_bayes import BernoulliNB

In [17]:
from sklearn.pipeline import make_pipeline

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
model=make_pipeline(TfidfVectorizer(),BernoulliNB())

In [21]:
model.fit(df_new_train["Text"], df_new_train["Sentiment"])

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('bernoullinb', BernoulliNB())])

In [22]:
new_test_doc=[]

In [23]:
split_point_test = int(0.2*len(all_docs))

In [24]:
split_point_test

2382

In [25]:
for i in range (0,2382):
  word_list=eval_docs[i]
  sentence=""
  for j in word_list:
    sentence = sentence + j + " "
  new_test_doc.append(sentence)

In [26]:
new_test_labels=[]

In [27]:
for i in range (0,2382):
  new_test_labels.append(eval_labels[i])

In [28]:
df_new_test=pd.DataFrame(new_test_doc,columns=["Text"])

In [29]:
df_new_test["Sentiment"]=new_test_labels

In [30]:
df_new_test.head()

                                                Text Sentiment
0  do not buy this iron . it 's fabulous while it...       neg
1  the series just keeps on getting better . the ...       pos
2  i bought this apple humidifier in early novemb...       neg
3  i highly recommend this super wide angle lens ...       pos
4  this is one of the better historical dramas fr...       pos

In [32]:
predicted_labels = model.predict(df_new_test["Text"])

In [33]:
predicted_labels

array(['neg', 'pos', 'neg', ..., 'pos', 'pos', 'pos'], dtype='<U3')

In [34]:
from sklearn.metrics import confusion_matrix

In [35]:
confusion_matrix(df_new_test["Sentiment"],predicted_labels)

array([[913, 316],
       [163, 990]])